@import url(notmy.css);

body {
	color: #333333;
	background: -webkit-linear-gradient(bottom,#026c68, #0776a0) no-repeat;
	background: -moz-linear-gradient(bottom,#026c68, #0776a0) no-repeat;
	padding-bottom: 10px;
	min-height: 643px;
}

img {
	max-width: 100%;
}
#container {
	background-color: #ffffff;
	box-shadow: 0px 0px 15px #000;
	margin: auto;
	padding: 0 .5em;
	overflow: hidden;
}
p {
	text-indent: 1em;
}
a {
	color: #ffb600;
}
a:visited {
	color: #a67600;
}
a:hover {
	color: #ffc840;
}
/*=======================================
 * Header Styles
 */
.pageHeader {
	position: relative;
	width: 90%; margin: auto;
	padding-top:10px;
	background: rgb(153,25,25);
	color: #ffffff;
}
.topNav {
	position: relative;
	background: #333333;
	height: 36px;
	color: #ffffff;
	box-shadow: 0px 0px 10px #333;
}
.topNav:before, .topNav:after {
	content: "";
	background: #333333;
	position: absolute;
	top:0;bottom:0;
	width: 99999px;
	box-shadow: 0px 0px 10px #333;
}
.topNav:before {
	right: 100%;
}
.topNav:after {
	left: 100%;
}
.topNav li {
	position: relative;
	top: 10px;
	float: left;
	display: block;
}
.navAnchor, .navAnchor:visited {
	padding: 10px 1em;
	text-decoration: none;
	color: rgb(255,255,255);
}
.navAnchor:hover {
	background-color: rgba(255,0,0,.5);
}
.topNav h2 {
	text-indent: -999999px;
	display: none;
}
.navSearch {
	padding: 7px 0;
	float: right;
}
.navSearch input[type='search'], .navSearch input[type='text'] {
	width: 180px;
}
.logo a, .logo a:visited {
	text-decoration: none;
	color: #ffffff;
}
.logo:before, .logo:after {
	content: "";
	background: rgb(153,25,25);
	position: absolute;
	top:0;bottom:0;
	width: 99999px;
}
.logo:before {
	right: 100%;
}
.logo:after {
	left: 100%;
}
/*=======================================
 * Primary Styles
 */

figure {width: 40%;min-width: 200px;}
figcaption {
	font-size: 11px;
	color: #777;
	text-align: center;
}
/*=======================================
 * Form Styles
 */
textarea {
	min-width: 300px;
	min-height: 100px;
}
/*=======================================
 * Blog Styles
 */
.post h3 a, .post h3 a:visited {
	color: #333;
	text-decoration: none;
}
.post h3 a:hover {
	color: #666;
}
.post {
	padding-bottom: 10px;
}
/*=======================================
 * Portfolio Styles
 */
.portItem {
	position: relative;
	height: 180px;
	border: 1px solid #555;
	margin-bottom: 20px;
	box-shadow: 2px 2px 14px #777;
}
.portItem > img {
	width: 100%;
}
.portItem > figcaption {
	line-height: 1.5em;
	background: #111;
}
.portItem>figcaption>a {
	text-decoration: none;
}
/*=======================================
 * Footer Styles
 */
.pageFooter {
	font-size: .90em;
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 90%;
}
