{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block pageName %}list{% endblock %}

{% block main %}
<div id="content">
	<section id="blog">
		{% for object in object_list %}
		<article>
			<header>
				<h2>{{ object.title }}</h2>
				Published <time datetime="{{ object.pub_date }}" pubdate>{{ object.pub_date|date}}</time><br />
				By <a href="">{{ object.author.first_name }}</a>.
			</header>
			{{ object.entry|truncatewords_html:"45"|safe }}
			<p><a href="{{ object.get_absolute_url }}">read more</a></p>
		</article>
		{% empty %}
		<p>There's nothing here yet.</p>
		{% endfor %}
	</section>
</div>

<div id="sidebar>
	<div id="recent">
		<h2>Recent Posts</h2>
		<ul>
			{% for object in recent|slice:"4" %}
			<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> in {{ object.section|capfirst }} - {{ object.pub_date|date:"N d" }}</li>
			{% empty %}
			<li>There's nothing here!</li>
			{% endfor %}
		</ul>
	</div>
	<h2>Related</h2>
	<p>Shoulder shank tail tongue beef bresaola. Swine bacon brisket ham, bresaola pork belly hamburger shankle. Pastrami chuck flank hamburger bacon jowl t-bone, drumstick shank swine brisket tenderloin. Corned beef andouille drumstick ham hock tongue filet mignon, turkey sirloin biltong. Pancetta andouille ribeye t-bone. Chicken pork chop beef ribs tail short ribs, pancetta bresaola shank tongue turkey rump. Ribeye salami capicola, fatback swine chicken frankfurter ham hock corned beef strip steak shoulder shank.</p>
</div><!-- end #sidebar -->
{% endblock %}
